<div class="container" (keydown)="onKeydown($event)" tabindex="0">
  <h1>Hangman</h1>
  <div class="game-info">
    <div class="hangman-container">
      <app-hangman-drawing [lives]="lives"></app-hangman-drawing>
    </div>

    <p>Kategoria: {{ category }}</p>
    <p>Pozostałe życia: {{ lives }}</p>
    <p>Użyte litery: {{ usedLetters }}</p>
    <p *ngIf="showWord">Wylosowane słowo: {{ word }}</p>
    <p>Wynik: {{ score }}</p>
  </div>
  <div class="word">
    <span *ngFor="let letter of hiddenWord">{{ letter }}</span>
  </div>
  <div class="letters">
    <button
      *ngFor="let letter of letters"
      (click)="guessLetter(letter)"
      [disabled]="usedLetters.includes(letter)"
    >
      {{ letter }}
    </button>
  </div>
  <div class="actions">
    <button (click)="startGame()">Nowa gra</button>
  </div>
</div>

<div class="results-overlay" *ngIf="showResults">
  <div class="results-container" *ngIf="showResults">
    <div class="results-header">
      <h2>Wyniki</h2>
      <span class="close-button" (click)="closeResultsPopup()">X</span>
    </div>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Imię gracza</th>
          <th>Wynik</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of gameResultsService.results; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ result.playerName }}</td>
          <td>{{ result.score }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
